builds/
design_dv/sim/*
!dv/sim/Makefile
!dv/sim/filelist.f
spyglass/reports/
spyglass/work/*
!spyglass/work/Makefile
!spyglass/work/Config.tcl
.idea
fpga/*
syn/report/*
syn/mapped/*
syn/unmapped/*
syn/work/*.syn
syn/work/*.pvl
syn/work/*.log
syn/work/*.mr
syn/work/*.svf
syn/work/cksum_dir
spyglass/work/.clockMatrixData.txt
spyglass/waiver/ASIC_lint.awl
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/*.log
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/*.txt
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/NLDM/*.log
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/NLDM/*.txt
