builds/
design_dv/sim/*
!dv/sim/Makefile
!dv/sim/filelist.f
spyglass/reports/
spyglass/work/*
!spyglass/work/Makefile
!spyglass/work/Config.tcl
vc_spyglass/report/
vc_spyglass/work/*
vc_spyglass/waiver/*
!vc_spyglass/work/Makefile
!vc_spyglass/work/config.tcl
.idea
syn/report/*
syn/mapped/*
syn/unmapped/*
syn/work/*.syn
syn/work/*.pvl
syn/work/*.log
syn/work/*.mr
syn/work/*.svf
syn/work/cksum_dir
syn/work/alib-52
syn/work/syn_work
spyglass/work/.clockMatrixData.txt
spyglass/waiver/ASIC_lint.awl
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/*.log
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/*.txt
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/NLDM/*.log
hw/library/ts1n28hpcpsvtb32768x36m16swso_180a/NLDM/*.txt
fpga/prj/adc_capture
fpga/prj/*.log
fpga/prj/*.jou
fpga/prj/*.str
fpga/prj/*.prj
fpga/prj/.Xil
fpga/prj/*cxl*
fpga/prj/*.setup
fpga/prj/local
